// document
$doc-background-color: #21232e;
// header
$header-bg-img: url(../img/m-h-night.jpg);
$header-button-margin: 68px 0 0 0;
$header-link-margin: 0 0 0 150px;
$header-link-color: #f2f3f7;
// main
$gradient-colors: (
  left: #e1a902,
  right: #98354d,
);
$card-color: #3b3f50;
$card-link-margin: 25px 0 0 0;
$card-link-color: #c0c3af;
// footer
$footer-color: #3b3f50;
$footer-button-margin: auto 0 auto auto;
// buttons
$button-color: #e3ac00;
$button-text-color: #f2f3f7;
// text colors
$selection-color: #ff4e33;
$main-text-color: #fff;
