// document
$doc-background-color: #fff;
// header
$header-bg-img: url(../img/m-h-day.jpg);
$header-button-margin: 68px 0 0 0;
$header-link-margin: 0 0 0 150px;
$header-link-color: #f2f3f7;
// main
$gradient-colors: (
  left: #699900,
  right: #2c5bdb,
);
$card-color: #2c2f3c;
$card-link-margin: 25px 0 0 0;
$card-link-color: #c0c3af;
// footer
$footer-color: #2c2f3c;
$footer-button-margin: auto 0 auto auto;
// buttons
$button-color: #699900;
$button-text-color: #f2f3f7;
// text colors
$selection-color: #14a0c7;
$main-text-color: #2c2f3c;
